# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.devx-rainforest'
'name': 'Rainforest DevX'
'fileTypes': [
  'rfml'
]
'patterns': [
  {
    'match': '^#!.*' # test-id
    'name': 'keyword.control'
  }
  {
    'match': '^# *(title|site_id|start_uri|tags|browsers):.*' # test attributes
    'name': 'entity.other'
  }
  {
    'match': '^# *redirect: (true|false)$' # redirect flag
    'name': 'keyword.operator'
  }
  {
    'match': '^-.*' # redirect link
    'name': 'keyword.control'
  }
  {
    'match': '\\{\\{.*\\}\\}' # variables # FIXME
    'name': 'variable.parameter'
  }
  {
    'match': '#.*' # comment
    'name': 'comment.line.number-sign'
  }
  {
    'match': '.*\\.$' # step
    'name': 'constant.language'
  }
  {
    'match': '.*\\?$' # question
    'name': 'string.quoted.single'
  }
  {
    'match': '.+' # everything else
    'name': 'variable.language'
  }
]
